/*MOBILE*/
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    
    .s-mt8 { 
        margin-top: 8px !important;
    }
    
    #header .search-icon{
        display: none;
    } 

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }    

    #nav li {
        display: block;
    }

    #nav li a {
        display: block;
        text-align: initial;
    }

    #nav  li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 8px 38px;
    }

    .col-third {
        width: 100%;
    }

    #content .member-item {
        margin-top: 30px;
    }

    #content .band-img { 
        width: 60%;
    }
    
    .place-item {
        margin-bottom: 32px;
    }

    .contact-input { 
        margin-top: 16px;
    }

}
/*MOBILE*/

/*PC AND TABLET*/
@media (min-width: 46.3125em) {
    #mobile-menu {
        display: none;
    }
}
/*PC AND TABLET*/

/*TABLET and MOBILE*/
@media (max-width: 63.9375em) { 
    .social-list { 
        font-size: 48px;
    }

    .social-list a { 
        margin: 0 8px;
    }
}